.hero-wrapper {
  background: url("./images/utrecht/utrecht-bottom.jpg") no-repeat center center fixed;
  background-size: cover;
  height: 565px;
}

.hero-text {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 140px;
  font-size: 5.5rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.hero-text:hover {
  opacity: 0.8;
}

.hero-subtext {
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 500;
  font-style: italic;
  margin-top: 10px;
  color: white;
  text-align: center;
  font-size: 4rem;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.hero-subtext:hover{
  opacity: 0.8;
}