/* boilerplate */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Noto Sans JP', sans-serif;
  text-decoration: none;
  list-style: none;
}

.portugal-hero {
  padding-top: 150px;
  background: url("./components/images/portugal/Cascais1.jpeg") no-repeat center center;
  background-size: cover;
  height: 555px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.norway-hero {
  padding-top: 80px;
  background: url("./components/images/norway/Downtown1.jpeg") no-repeat center center;
  background-size: cover;
  height: 555px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.utrecht-hero {
  background: url("./components/images/utrecht/Delft.jpeg") no-repeat center center;
  background-size: cover;
  height: 730px;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.hero-header {
  padding-top: 350px;
}

.hero-text-1 {
  margin-top: 100px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  padding-top: 100px;
  font-size: 5.5rem;
  color: white;
  text-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}
.hero-text-1:hover{
  opacity: 0.8;
}

/* when you hover over SIGN UP button the background changes to white */
.nav-links-mobile:hover {
  background: white;
  color: #fff;
  border: 1px solid white;
  transition: 250ms;
}
.btn {
  display: none;
}

.form-header {
  font-size: 2.2rem;
  margin: 15px 5px;
}

input {
  display: block;
  margin: 5px;
  padding: 2px;
  width: 300px;
  font-size: 17px;
}
input:focus {
  outline: none;
}

.description{
  height: 300px;
  width: 600px;
  margin: 5px;
}
.description:focus {
  outline: none;
}

button {
  /* styling */
  display: block;
  background-color: #00586b;
  border-radius: 25px;
  padding: 10px 15px;
  margin: 15px 10px;
  color: white;
  font-weight: 300;
  font-size: 16px;
  cursor: pointer;
}

/* CHILD: SIGN UP button <a> */
.btn-text {
  /* shows up in mobile */
  display: block;
  text-align: center;
  /* inside spacing */
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 1.1rem;
  text-decoration: none;
  background-color: transparent;
  color: #fff;
  transition: all 0.3s ease-out;
}

.data-header-form {
  font-size: 25px;
  margin: 30px 0 15px 5px;
}

.data-date-form {
  font-size: 18px;
  margin-left: 5px;
}

.data-places-form {
  font-size: 18px;
  margin: 10px 0 10px 5px;
  text-decoration: italic;
}

.data-description-form {
  font-size: 18px;
  /* width: 90%; */
  margin-left: 5px;
  margin-bottom: 15px;
}

.cathedral {
  width: 100%;
}